<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Crunchroom</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body class="index">
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">
                    <!-- Breaking News -->
                    <div class="col-12 col-sm-6">
                        <div class="breaking-news">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    <li><a href="#">Crunchroom</a></li>
                                    <li><a href="#">The best recipes are here</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Top Social Info -->
                    <div class="col-12 col-sm-6">
                        <div class="top-social-info text-right">
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li><a href="menu.html">Recipes</a></li>
                                    <li><a href="tobuy.html">To Buy</a></li>
                                </ul>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### 
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            
            <!-Single Hero Slide -->
            <!--<div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg.jpg);">-->
                <div class="container h-100 w-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                                <h1 data-animation="fadeInUp" data-delay="300ms">Have food in your fridge but don't know what to cook?</h1>
                                <h8 data-animation="fadeInUp" data-delay="700ms">We can help. Just select your ingredients and we will show you possible recipes. </h8>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>.
    </div>
</div>
</div>
    <!-- ##### Hero Area End ##### -->

          
           <!-- Receipe Post Search -->
        <div class="receipe-post-search mb-80">
            <div class="container">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-12 col-lg-3">
                        </div>
                        <div class="col-12 col-lg-3">
                            <input type="search" name="search" placeholder="Search for an ingredient">
                        </div>
                        <div class="col-12 col-lg-3 text-right">
                            <button type="submit" class="btn delicious-btn">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <section class="best-receipe-area">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h4>Ingredients in kitchen</h4>
                        <h8>Tell us what ingredients you have you in your kitchen. </h8>

                    </div>
                </div>
            </div>
        </section>

        <!--Jooseps code-->

        <center><ul class="app-inputs">
                <div class="app-input-group">
                    <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="defaultInline2">
                                <label class="custom-control-label" for="defaultInline2"></label>
                    </div>
                              
                    <input class="foodItem" type="text" v-model="foodItem" placeholder="Food item" id="app-input0">
                    <span class="app-icon app-add glyphicon glyphicon-plus"  @click="addFoodItem"></span>
                </div>
                <li v-for="(item, index) in extraFoodItems" :key="item.id">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="defaultInline3">
                                    <label class="custom-control-label" for="defaultInline3"></label>
                                  </div>
                        
                        <input class="extraFoodItem" type="text" placeholder="Food item" v-model="item.name" v-bind:id="'app-input'+item.id">
                        <span class="app-icon app-remove glyphicon glyphicon-minus" @click="deleteRow(index)"></span>
                    </div>
                </li>
            </ul>
            <br>

            <!--Spices-->
        
            <section class="best-receipe-area">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h4>Spices</h4>
                                <h8>Got any spices in your kitchen? Add them here!</h8>
                            </div>
                        </div>
                    </div>
                </section>
            
                <center><ul class="app-inputs">
                        <div class="app-input-group">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="defaultInline4">
                                        <label class="custom-control-label" for="defaultInline4"></label>
                            </div>
                                      
                            <input class="foodItem" type="text" v-model="foodItem" placeholder="Food item" id="app-input0">
                            <span class="app-icon app-add glyphicon glyphicon-plus"  @click="addFoodItem"></span>
                        </div>
                        <li v-for="(item, index) in extraFoodItems" :key="item.id">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="defaultInline5">
                                            <label class="custom-control-label" for="defaultInline5"></label>
                                          </div>
                                
                                <input class="extraFoodItem" type="text" placeholder="Food item" v-model="item.name" v-bind:id="'app-input'+item.id">
                                <span class="app-icon app-remove glyphicon glyphicon-minus" @click="deleteRow(index)"></span>
                            </div>
                        </li>
                    </ul>
                    <br><br>

            <!-- Cooking time -->

            <section class="best-receipe-area">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h4>Cooking time</h4>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline6">
                    <label class="custom-control-label" for="defaultInline6"><h8>20 to 30 minutes</h8></label>
                  </div>

                  <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="defaultInline7">
                        <label class="custom-control-label" for="defaultInline7"><h8>30 to 60min</h8></label>
                      </div>

                      <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline8">
                            <label class="custom-control-label" for="defaultInline8"><h8>1 to 1.5 hours</h8></label>
                          </div>
            
                    <br><br>
                    <button class="app-large-btn btn btn-primary" @click="confirm">See recipe</button></center>
                    <br><br>
                    <br><br>

                <!-- Single Best Receipe Area 

<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="defaultInline1">
  <label class="custom-control-label" for="defaultInline1"><h5>Potato</h5></label>
</div>

<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="defaultInline2">
  <label class="custom-control-label" for="defaultInline2"><h5>Milk</h5></label>
</div>

<div class="custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" class="custom-control-input" id="defaultInline3">
    <label class="custom-control-label" for="defaultInline3"><h5>Kefir</h5></label>
  </div>

  <div class="custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" class="custom-control-input" id="defaultInline4">
    <label class="custom-control-label" for="defaultInline4"><h5>Ice cream</h5></label>
  </div>

  <div class="custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" class="custom-control-input" id="defaultInline5">
    <label class="custom-control-label" for="defaultInline5"><h5>Cream</h5></label>
  </div>

  <div class="custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" class="custom-control-input" id="defaultInline6">
    <label class="custom-control-label" for="defaultInline6"><h5>Ketchup</h5></label>
  </div>

  <div class="custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" class="custom-control-input" id="defaultInline7">
    <label class="custom-control-label" for="defaultInline7"><h5>Strawberry jam</h5></label>
  </div>

  <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="defaultInline7">
        <label class="custom-control-label" for="defaultInline7"><h5>Chicken breast</h5></label>
      </div>
      
  <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="defaultInline7">
        <label class="custom-control-label" for="defaultInline7"><h5>Paprika</h5></label>
      </div>
</div>
  </section>-->
    <!-- ##### Best Receipe Area End ##### -->
    </div>
</div>
</div>

<!--	<center><a href="recipe.html" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Recipe</a></center>-->
   
    <!-- ##### Footer Area Start ####
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <footer class="footer-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <div><center><h5>Meet the Crunchroom team!</h5></center></div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    ##### Footer Area End ##### -->


    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>